  .expense-distribution-card,
.expenses-by-type-card {
    border-radius: 20px !important;
    max-height: 400px;
    max-width: 300px;
    display: flex;
    justify-content: center;
   
   
   

    
    
} 

.expense-distribution,
.expenses-by-type{
   
 max-width: fit-content;
 max-height: fit-content;
  

}