.expense-distribution{
   height: 100px;
}

.expense-distribution-card{
    border-radius: 20px !important;
}

.expenses-by-type{
    
    
}
.expenses-by-type-card{

    border-radius: 20px !important;
}