.create-group-btn{
    border-color: rgba(54, 162, 235, 1);
    background-color:rgba(54, 162, 235, 0.2) ;
    position: absolute; 
    top: 20px; 
    right: 20px; 
    z-index: 1050; 
  }
  
.encabezado{
  margin-left: 250px;
  margin-top: 20px;
}

.dropdown-toggle{
  position: absolute;
  top: 20px;
  right:20px;
 
}