.create-group-btn {
  background-color: #642aec;
  color: white;
  position: absolute;
  top: 30px;
  right: 30px;
  z-index: 1050;
  font-size: 18px;
}

.create-button {
  border-color: rgba(54, 162, 235, 1);
  background-color: rgba(54, 162, 235, 0.2)
}

.encabezado {
  margin-left: 30px;
  margin-top: 30px;
  color: #334155;
}

.dropdown-toggle {
  position: absolute;
  top: 30px;
  right: 30px;
}

.delete-btn :hover {
  background-color: #ea6f77;
}

.delete-button {
  border-color: #f0666f;
  background-color: rgb(239, 159, 159);
}

.rename-button {
  border-color: rgba(17, 132, 15, 0.74);
  background-color: rgb(161, 226, 188);
}

.btn-warning,
.btn-info,
.btn-secondary {
  position: static !important;
  top: auto !important;
  right: auto !important;
}

.container-btn {
  position: absolute;
  top: 30px;
  right: 20px;
}